* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --font-family-asap: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --font-family-maven: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);

    --bg-intro: url(/assets/Background_Intro.png);

}

#container{
    max-width: 1366px;
    padding-inline: 32px;
    margin-inline: auto;
}

main {
    grid-row: 2fr;
    grid-template-areas: 
    "intro";
}