.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);

  span {
    color: var(--red);
  }
}

pre {
  color: var(--purple);
}

#info h1 {
  font: var(--title-lg);
  color: var(--gray-100);
  padding-block: 8px 20px;
}

#info p {
  font: var(--text-sm);
  color: var(--gray-300);
}

.titleMd {
  font: var(--title-md);
  color: var(--gray-100);
}
.titleSm {
  font: var(--title-sm);
  color: var(--gray-200);
}

.textSm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.textMd {
  font: var(--text-md);
  color: var(--gray-200);
}

.grid {
  margin: auto;
  display: grid;
  max-width: 1040px;
  margin-top: 56px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#projects .card {
  width: 330px;
  border-radius: 12px;
  background-color: var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}

#services .card {
  width: 330px;
  border-radius: 12px;
  border: 1px solid var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
    width: 48px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}
.subtitle,
.titleMd {
  text-align: center;
}

#linkBox {
  margin-top: 48px;
}

.links {
  margin: auto;
  background-color: var(--gray-400);
  margin-bottom: 16px;
  width: 400px;
  height: 68px;
  border-radius: 8px;

  a {
    padding: 20px;
    display: flex;
    font: var(--font-family-maven);
    color: var(--gray-200);
    width: inherit;
    height: inherit;
    display: flex;

    .arrow{
      margin-left: auto;
      width: 20px;
    }

    .logo {
      width: 28px;
    }

      span {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-inline: 12px;
      }

      &:hover {
        border: 1px solid var(--blue);
        border-radius: 8px;
      }

    };
}


