* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-family-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --font-family-inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-family-inconsolata);

  --font-family-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-maven);
  --text-sm: 400 14px/140% var(--font-family-maven);

  --bg-intro: url(/assets/Background_Intro.png);
  --bg-contacts: url(/assets/Background_Contacts.png);
  --bg-project: url(--gray-400);
}

#container {
  width: 100%;
  max-width: 1366px;
}

#info {
  display: block;
  align-items: center;
}

#avatar {
  width: 112px;
  margin: auto;
  padding-bottom: 56px;
}

#tags img {
  width: 24px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-400);
    height: 40px;
    border-radius: 999px;
    padding: 16px;
    margin-bottom: 94px;

    span {
      font: var(--text-md);
      color: var(--gray-200);
    }
  }
}
#info header {
  max-width: 680px;
  justify-self: center;
  padding-bottom: 80px;
}
#intro {
  text-align: center;
  background: no-repeat top center/cover var(--bg-intro);
  width: 100%;
  place-content: center;
  padding: 120px 163px 0 163px;
}
#projects {
  background: no-repeat top center/cover var(--gray-500);
  width: 100%;
  padding: 72px 120px 144px 120px;

  img {
    width: 306px;
  }

  a:hover {
    border: 1px solid var(--gray-300);
    border-radius: 12px;
  }
}

#services {
  background: no-repeat top center/cover var(--gray-600);
  width: 100%;
  height: 480px;
  padding: 88px 120px 120px 120px;

  img {
    width: 280px;
  }
}

#contacts {
  header {
    text-align: center;
  }

  background: no-repeat top center/cover var(--bg-contacts);
  width: 100%;
  place-content: center;
  padding: 128px 120px 200px 120px;

  h2 {
    padding-block: 8px;
  }
  a {
    text-decoration: none;
  }
}
.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);

  span {
    color: var(--red);
  }
}

pre {
  color: var(--purple);
}

#info h1 {
  font: var(--title-lg);
  color: var(--gray-100);
  padding-block: 8px 20px;
}

#info p {
  font: var(--text-sm);
  color: var(--gray-300);
}

.titleMd {
  font: var(--title-md);
  color: var(--gray-100);
}
.titleSm {
  font: var(--title-sm);
  color: var(--gray-200);
}

.textSm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.textMd {
  font: var(--text-md);
  color: var(--gray-200);
}

.grid {
  margin: auto;
  display: grid;
  max-width: 1040px;
  margin-top: 56px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#projects .card {
  width: 330px;
  border-radius: 12px;
  background-color: var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}

#services .card {
  width: 330px;
  border-radius: 12px;
  border: 1px solid var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
    width: 48px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}
.subtitle,
.titleMd {
  text-align: center;
}

#linkBox {
  margin-top: 48px;
}

.links {
  margin: auto;
  background-color: var(--gray-400);
  margin-bottom: 16px;
  width: 400px;
  height: 68px;
  border-radius: 8px;

  a {
    padding: 20px;
    display: flex;
    font: var(--font-family-maven);
    color: var(--gray-200);
    width: inherit;
    height: inherit;
    display: flex;

    .arrow{
      margin-left: auto;
      width: 20px;
    }

    .logo {
      width: 28px;
    }

      span {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-inline: 12px;
      }

      &:hover {
        border: 1px solid var(--blue);
        border-radius: 8px;
      }

    };
}



